<%= stylesheet_link_tag "sites" %>
<h1>Listing sites</h1>

<table>
  <tr>
    <th><%= sortable "identity" %></th>
    <th><%= sortable "address" %></th>
    <th><%= sortable "updated_at", "Last Check-In" %></th>
  </tr>

<% @sites.each do |site| %>
  <tr>
    <td><%= link_to site.identity, site %></td>
    <td><%= site.address %></td>
    <td><%= distance_of_time_in_words(Time.now, site.updated_at, true) + " ago" %></td>
  </tr>
<% end %>
</table>

<br />

