<p id="notice"><%= notice %></p>

<p>
  <b>Identity:</b>
  <%= @site.identity %>
</p>

<p>
  <b>Address:</b>
  <%= @site.address %>
</p>


<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
