<p id="notice"><%= notice %></p>

<p>
  <b>Identity:</b>
  <%= @site.identity %>
</p>

<p>
  <b>Address:</b>
  <%= @site.address %>
</p>

<p>
  <b>Last Updated:</b>
  <%= distance_of_time_in_words(Time.now, @site.updated_at, true) + " ago" %><br>
  <%= @site.updated_at %>
</p>

<p>
	<b>Port Being Tested:</b>
	<%= @site.port %>
</p>


<%= link_to 'Back', sites_path %>
